<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
    <link rel="stylesheet" href="layout.css" type="text/css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="nav clearfix"> 
            <ul class="child clearfix">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </nav>
        <img src="image/slika.jpg" class="photo">
        </header>


        <aside class="right_div">
            <ul>
                <li>
                    <a href="#">Rebuilding slack.com</a>
                    <hr/>
                </li>
                <li>
                    <a href="#">Zasto bootcamp format?</a>
                    <hr/>
                </li>
                <li>
                    <a href="#">React-prozor u svet web aplikacija</a>
                    <hr/>
                </li>
                <li>
                    <a href="#">Najvece zablude o programerima u Srbiji</a>
                    <hr/>
                </li>
            </ul>
        </aside>

        <article class="parent_div">
            <div class="red box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="blue box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="yellow box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="green box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="red box">
                <p>300 x 200</p>
            </div>
            <p>
                Lrem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="blue box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="yellow box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

        <article class="parent_div">
            <div class="green box">
                <p>300 x 200</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt, totam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam expedita
                facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut suscipit!
            </p>
        </article>

    </div>





</body>

</html>