<!DOCTYPE html>
<html lang="en">
<head>
        <link type="text/css" rel="stylesheet" href="layout1.css">
        <title>Document</title>
</head>
<body>
    <div class="dimension first"></div>
    <div class="dimension second"></div>
    <div class="dimension third"></div>
    <hr/>
    <div class="dimension first pera"></div>
    <div class="dimension second mika"></div>
    <div class="dimension third laza"></div>
    <hr/>
    <div class='container'>
        <div class="dimension first bromazepam"></div>
        <div class="dimension second bensendin"></div>
        <div class="dimension third trodon"></div>    
    </div>
    
</body>
</html>