.toggle, .turnoff {
    margin: 0 auto;
    background: tomato;
    color: #fff;
    width: 300px;
    height: 50px;
    display: block;
    border-radius: 8px;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.changeBgColor {
    background: rgb(67, 82, 146);
}

.turnoff {
    background: rgb(202, 149, 1);
    width: 200px;
    text-align: center;
    line-height: 50px;
}